{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
<div class="container">
    <div class="row mb-3"><div class="col-md-12">
    	<!-- Title -->
    	<p class="h1 text-center">Catalogue</p>
    	<!-- Search bar -->
    	<div class="input-group">
		    <input type="text" class="form-control" placeholder="Rechercher" name="search" id="search">
		    <div class="input-group-btn">
				<button class="btn btn-default" type="submit" id="searchButton">
					<i class="fas fa-search"></i>
				</button>
		    </div>
  		</div>
    </div></div>
    <div class="row">
    	<!-- List of products -->
    	<div class="col-md-8">
    		<ul class="list-unstyled" id='productsList'>
			    {% for product in products %}
			    	<li class="mb-2" productId={{ product.id }}>
			    		<p class="h3">{{ product.name }}</p>
			    		<i>{{ product.reference }} - {{ product.price }}€ - {{ product.saleNoticeDate|date('d/m/Y') }} - {{ product.brand.name }}</i>
			    	</li>
			    {% endfor %}
			</ul>
    	</div>
    	<!-- More filters -->
    	<div class="col-md-4"><div class="container-fluid">
    		<div class="row">
    			<div class="col-md-12">
    				<h2>Plus de filtres</h2>
    			</div>
	    	</div>
	    	<!-- after this saleNoticeDate -->
	    	<div class="row">
	    		<div class="col-md-6"><label> Date de mise en vente ultérieure à </label></div>
	    		<div class="col-md-6">
	    		 <input type="date" name="saleNoticeDate" id="saleNoticeDate">
	    		</div>
	    	</div>
	    	<!-- Maximum Price -->
	    	<div class="row">
	    		<div class="col-md-6"><label> Prix maximal </label></div>
	    		<div class="col-md-6">
	    		 <input type="range" name="maxPrice" max="500" min="0" step="10" id="maxPrice"> 
	    		</div>
	    	</div>
	    	<!-- Brands -->
	    	<div class="row" id="brands">
	    		<div class="col-md-6"><label> Marques </label></div>
	    		<div class="col-md-6">
			    	{% for brand in brands %}
			    		<div class="checkbox">
						  <label>
						  	<input type="checkbox" value="{{brand.id}}" name="brand"> {{ brand.name }} 
						  </label>
						</div>
					{% endfor %}
				</div>
			</div>
    	</div></div>
    </div>
</div>

<script>
    window.page = {
        routes: {
            ajaxSearch: '{{ path('store_ajaxSearch') }}'
        }
    };
</script>
{% endblock %}